<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="mongo" class="org.terasoluna.batch.tutorial.logback.mongodb.MongoDBLoggingEventAdapterEx">
        <uri>mongodb://mongodb:27017/local.logs</uri>
    </appender>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy/MM/dd HH:mm:ss}] [%thread] [%-22logger{22}] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.terasoluna.batch" level="TRACE"/>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.mybatis.spring" level="INFO" />

    <root level="INFO">

        <appender-ref ref="consoleLog" />
        <appender-ref ref="mongo" />
    </root>

</configuration>

